.page-container {
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff; /* fundo da página */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.custom-rectangle {
    width: 1388px;
    height: 975px;
    background-color: #F2F2F2;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Campos de formulário */
.form-floating-pass .form-control {
    width: 837px;       /* largura fixa */
    height: 45px;       /* altura fixa */
    font-size: 14px;
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 0.5rem 0.75rem;
}

.form-floating label {
    font-size: 14px;
    top: 5px;
    left: 10px;
    opacity: 1;
}

/* Botão */
.button_wide {
    width: 138px;
    height: 39px;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}

.button-container {
    width: 100%;
    text-align: right;
    margin-top: 10px;
}
